<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            margin: 0;
        }

        main {
            height: 80vh;
        }

        div {
            display: flex;
            justify-content: center;
        }

        td, th {
            border: 1px solid black
        }
    </style>

    <title>JS Todo</title>
</head>
<body>
    <%- include('partials/Navbar') %>
    <main>
        <div>
            <h1>JS Todo</h1>
        </div>
    
        <div>
            <table>
                <thead>
                    <th>id</th>
                    <th>Todo</th>
                    <th>complete</th>
                    <th>createdAt</th>
                    <th>Action</th>
                </thead>
    
                <tbody>
                    <% data.map(el => { %>
                        <tr>
                            <td><%= el.id %></td>
                            <td>
                                <a href="/todos/<%= el.id %>">
                                    <%= el.todo %>
                                </a>
                            </td>
                            <td><%= el.complete %></td>
                            <td><%= el.createdat %></td>
                            <td>
                                <a href="/todos/delete/<%= el.id %>">DELETE</a>
                                        ||
                                <a href="/todos/<%=el.id%>/edit">EDIT</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </main>
   
    <%- include('partials/Footer') %>
</body>
</html>